/*Styles the entire container */
.containerChina{
    display:flex;
    flex-direction:column;
    padding:0rem 3rem;
    margin-bottom:30px;
}

.headingChina{
    color:black;
    margin-top:30px;
    text-align:center;
    font-size:50px;
    font-family: 'Lora', serif;
}

.paraChina{
    margin-top:5px;
    text-align:center;
    font-size:20px;

}

.innerContainerChina{
    margin-bottom:10rem;
    padding:none;
}

.rowChina{
    display:flex;
    flex-direction:row;
    height:350px;
    margin-top:20px;
}

.columnChina:hover{
    cursor:pointer;
    transform:translateY(-10px);
    -webkit-box-shadow: 0 0 20px 10px grey;
    -moz-box-shadow: 0 0 20px 10px grey;
    box-shadow:0 0 20px 10px grey;
    transition: transform 0.5s;
}


.columnChina{
    margin-right:20px;
    display:flex;
    justify-content:center;
    overflow:hidden;
    width:360px;
}

.ChinaIMG{
    position:absolute;
    z-index:-1;
}

.overlayChina{
    z-index:5;
    color:white;
    font-size:2rem;
     width:360px; 
     height:20%;
    padding:0.5rem 1rem;
    background:black;
    opacity:0.3;
    border-radius:0.5rem;
    position:relative;
    margin-top:1rem;
  

}